<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verser Docs Online</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <img class="navbar-header" src="~/Images/VerserLogo.png" style=" height:50px; width:90px;" />
                <a class="navbar-brand" style="padding-left:50px;color:white" href="#">Verser Technology LifeCycles</a>
            </div>
            <ul class="nav navbar-nav">
                
                @if (@Session["Username"] != null)
                {
                    <li style="padding-left:50px"> @Html.ActionLink("Docs Online", "Index", "Projects", new { area = "" }, new { @class = "navbar-brand" })</li>

                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                }
                
            </ul>
            <ul class="nav navbar-nav" style="float:right">
                @if (@Session["Username"] != null)
                {
                <li style="color:orange; font-size:small;color:white;font-weight:100;float:right">@Html.ActionLink("Logout", "Login", "Login")</li>
                }
                else
                {
                    <li style="font-size:small;color:white;font-weight:100;float:right">@Html.ActionLink("Login", "Login", "Login")</li>
                }
            </ul>

        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Verser Technology Lifecycles</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    .navbar {
        background-color:lightgray;
        border-color:orange;
    }
</style>