<!DOCTYPE html>
<html>
@using DocsOnline.ServiceHelpers
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verser Docs Online</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:black; padding:0 10px; height:50px; border:none">
        <div class="navbar-header" align="center" style="height:50px;vertical-align:middle">
            <a href="@Url.Action("Index", "Projects")">
                <img class="navbar-header" src="~/Images/Verser.jpg" style="height:50px; width:140px;" />
            </a>
            <a class="navbar-brand" style="color:white; font-weight:600" href="@Url.Action("Index", "Projects")">Verser Technology LifeCycles</a>
        </div>
        <ul class="nav navbar-nav">

            @if (@Session["Username"] != null)
            {
                @*<li style="padding-left:20px"> @Html.ActionLink("Docs Online", "Index", "Projects", new { area = "" }, new { @class = "navbar-brand", style = "color:white" })</li>*@
                <li><a href="@Url.Action("Index", "Projects")" style="color:white">Docs Online</a></li>

                if (UserRoles.UserCanAccessAllFiles())
                {
                    @*<li>@Html.ActionLink("MANAGE USER ACCESS", "ManageAccess", "Home")</li>*@
                    <li><a href="@Url.Action("ManageAccess", "Home")" style="color:white">MANAGE USER ACCESS</a></li>
                }
            }

        </ul>

        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav navbar-right">
                @if (@Session["Username"] != null)
                {
                    <li class="dropdown" id="dropmenu" style="overflow:visible">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" style="color:white; font-weight:600">@Session["Username"].ToString()</a>
                        <ul class="dropdown-menu" style="right: 0; background-color:black !important">
                            <li id="logout"><a href="@Url.Action("Login", "Login")" style="color:white; font-weight:600;padding:5px">Logout</a></li>
                        </ul>
                    </li>
                }
                @*else
                    {
                        <li style="font-size:small;color:white;font-weight:500;float:right">@Html.ActionLink("Login", "Login", "Login")</li>
                    }*@
            </ul>
        </div>

    </nav>

    <div class="container-fluid">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Verser Technology Lifecycles</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    .navbar {
        background-color: #000000;
        border-color: orange;
    }

    .navbar-nav > li > a {
        color: white;
        font-family: sans-serif;
        font-weight: 600;
    }

        .navbar-nav > li > a:hover {
            background-color: darkorange !important;
            color: black;
        }

    #logout {
        background-color:black;
    }

        #logout :hover {
            background-color: orange;
        }
</style>

<script>
    $('.dropdown-toggle').dropdown()
</script>

